
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <div class="row">
        <div class="col-md-4">
          <%= link_to user_followings_path(current_user) do %>
            <div class="panel panel-primary text-center">
              <div class="panel-heading">
                <h3 class="panel-title">following</h3>
              </div>
              <div class="panel-body">
                <%= current_user.following_users.size %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to user_followers_path(current_user) do %>
            <div class="panel panel-primary text-center">
              <div class="panel-heading">
                <h3 class="panel-title">follower</h3>
              </div>
              <div class="panel-body">
                <%= current_user.follower_users.size %>
              </div>
            </div>
          <% end %>
        </div>
         <div class="col-md-4">
          <%= link_to user_fav_tweets_path(current_user) do %>
            <div class="panel panel-primary text-center">
              <div class="panel-heading">
                <h3 class="panel-title">fav</h3>
              </div>
              <div class="panel-body">
                <%= current_user.fav_tweets.size %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <div id="time_line">
        <%= render partial: 'shared/feed', locals: { feed_items: @feed_items } %>
      </div>
      <div>
        <%= paginate(@feed_items) %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Microposts</h1>
    <%= link_to "Sign up now!", signup_path, class:"btn btn-lg btn-primary" %>
  </div>
<% end %>